<html lang="en-us">
<head title="boardgame">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        let socket;
        function connect() {
            socket = new WebSocket('{{ websocket_address }}');

            socket.onopen = function (e) {
                console.log('Connection established');
                console.log('Sending to server');
                socket.send('socket opened');
            };

            socket.onmessage = function (event) {
                let data = JSON.parse(event.data);
                console.log(data);
                switch (data.type) {
                    case 'info':
                        console.log(data.message);
                        break;
                    case 'players':
                        for (let i=0; i<data.players.length; i++) {
                            assignPlayer(data.players[i].id, data.players[i].name);
                        }
                        break;
                    case 'playerIn':
                        console.log(data.message);
                        assignPlayer(data.player_id, data.player_name);
                        break;
                    case 'playerOut':
                        console.log(data.message);
                        removePlayer(data.player_id);
                        break;
                    case 'move':
                        let player_id = data.move.player_id;
                        let id = data.move.id;
                        let cx = data.move.cx;
                        let cy = data.move.cy;
                        putStone(id, cx, cy, player_id);
                        break;
                    case 'remove':
                        console.log(data.message);
                        removeStone(data.id);
                        break;
                    case 'clear':
                        console.log(data.message);
                        clearBoard();
                        break;
                    case 'chat':
                        handleMessage(data.player_id, data.message);
                        break;
                    case 'saved':
                        $('#game_id').val(data.game_id);
                        break;
                    case 'loaded':
                        console.log(data.position);
                        handleLoad(data.position);
                        break;
                    default:
                        console.log('Unsupported event', data)
                }
            };

            socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log(`Connection closed cleanly, code=${event.code}
                        reason=${event.reason}`);
                } else {
                    console.log('Connection died');
                    console.log('Trying to reconnect...');
                    setTimeout(function() {
                        connect();
                    }, 1000);
                }
            };

            socket.onerror = function (error) {
                console.log(`[error] ${error.message}`);
            };
        }
        connect();

        function handleMessage(player_id, message) {
            let message_block = `<div class="message message_${player_id}">${message}</div>`;
            let chat = $('#chat');
            chat.append(message_block);
            chat.animate({scrollTop: chat.height()}, 500);
        }

        function handleLoad(position) {

        }

        function assignPlayer(player_id, player_name) {
            $(`#player_${player_id}_box_text`).text(player_name)
        }

        function removePlayer(player_id, player_name) {
            $(`#player_${player_id}_box_text`).text('')
        }

        function boardClick(row, column) {
            let message = {
                'action': 'board_click',
                'row': row,
                'column': column,
                'alternate': $('#alternate').prop("checked")
            };
            socket.send(JSON.stringify(message))
        }

        function sendStore(winningPlayerId) {
            alert('not implemented');
            let message = {
                'action': 'store',
                'position': '', //TODO: obtain board position - ORDER DOESNT MATTER, store sorted alphabetically!
                //TODO: ORDER MATTERS FOR BACKPROPAGATION!, store sorted, but update based on order
                'result': winningPlayerId,
            };
            socket.send(JSON.stringify(message))
        }

        function saveGame() {
            let message = {
                'action': 'save',
                'game_id': $('#game_id').val()
            };
            socket.send(JSON.stringify(message))
        }

        function loadGame() {
            let message = {
                'action': 'load',
                'game_id': $('#game_id').val()
            };
            socket.send(JSON.stringify(message))
        }

        function sendUndo() {
            let message = {
                'action': 'undo'
            };
            socket.send(JSON.stringify(message))
        }

        function sendSwap() {
            let message = {
                'action': 'swap'
            };
            socket.send(JSON.stringify(message))
        }

        function sendClearBoard() {
            let message = {
                'action': 'clear'
            };
            socket.send(JSON.stringify(message));
        }

        function clearBoard() {
            $(`circle`).each((i, e) => {
                e.remove();
            });
        }

        function sendRemoveStone(id) {
            let message = {
                'action': 'remove',
                'id': id
            };
            socket.send(JSON.stringify(message))
        }

        function removeStone(id) {
            $(`#${id}`).remove();
        }

        function sendMessage() {
            let message = {
                'action': 'chat',
                'message': $('#message').val()
            };
            socket.send(JSON.stringify(message));
            $('#message').val('')
        }

        function putStone(id, cx, cy, player_id) {
            let fill = player_id === 1 ? "black" : "white";

            let xmlns = "http://www.w3.org/2000/svg";
            let stone = document.createElementNS(xmlns,"circle");
            stone.setAttributeNS(null, "id", id);
            stone.setAttributeNS(null, "cx", cx);
            stone.setAttributeNS(null, "cy", cy);
            stone.setAttributeNS(null, "r", "11.0");
            stone.setAttributeNS(null, "fill", fill);
            stone.setAttributeNS(null, "onclick", `sendRemoveStone("${id}")`);

            $('#board').append(stone);
        }

    </script>
</head>
<body>
    <div style="display: flex; width: 100%; height: 100%;">
        <div class="board-container">
            <svg id="board" viewBox="0 0 660 397" width="100%" height="100%">
                <polygon points="15.00,4.02 225.00,367.75 435.00,4.02 645.00,367.75" style="fill:#FFFFFF;stroke:black;stroke-width:1"></polygon>
                <polygon points="15.00,4.02 435.00,4.02 225.00,367.75 645.00,367.75" style="fill:#303030;stroke:black;stroke-width:1"></polygon>
                {% for row in rows %}
                    {% set outer_loop = loop %}
                    {% for cell in row %}
                        <polygon id="{{ cell.id }}" points="{{ cell.points }}" fill="#FFCF79" class="cell" onclick="boardClick({{ outer_loop.index0 }}, {{ loop.index0 }})"></polygon>
                    {% endfor %}
                {% endfor %}
            </svg>
        </div>
        <div>
            <div style="display: flex; margin: 10px 0;">
                <input type="button" value="undo" onclick="sendUndo()">
                <input type="button" value="swap" onclick="sendSwap()">
                <input type="button" value="clear board" onclick="sendClearBoard()">
                <input type="button" value="save game" onclick="saveGame()" {% if mode == 'free' %} disabled="disabled" {% endif %}>
            </div>
            <div style="display: flex; margin: 10px 0;">
                <input type="button" value="store as white win" onclick="sendStore(2)">
                <input type="button" value="store as black win" onclick="sendStore(1)">
            </div>
            <div style="display: flex; margin: 10px 0;">
                <input type="button" value="load game" onclick="loadGame()">
                <input id="game_id" type="text" placeholder="game id">
            </div>
            <div style="display: flex; margin: 10px 0;">
                <label for="alternate">alternate color</label><input id="alternate" type="checkbox" {% if mode != 'free' %} disabled="disabled" {% else %} checked="checked" {% endif %}>
            </div>
            <div style="display: flex; margin: 10px 0;">
                <div id="player_1_box" class="player_box message_1">
                    <img id="player_1_active" src="favicon.ico" alt="" style="width: 20px; float: left; padding-right: 10px;">
                    <div id="player_1_box_text">
                    </div>
                </div>
                <div id="player_2_box" class="player_box message_2">
                    <img id="player_2_active" src="favicon.ico" alt="" style="width: 20px; float: left; padding-right: 10px;">
                    <div id="player_2_box_text">
                    </div>
                </div>
            </div>
            <div id="chat" class="chat">
            </div>
            <div>
                <textarea id="message" rows="3" cols="50"></textarea>
                <input type="button" value="send" onclick="sendMessage()" {% if mode == 'free' %} disabled="disabled" {% endif %}>
            </div>
        </div>
    </div>
</body>
</html>
