<html lang="en-us">
<head title="boardgame">
    <title>Hex Forest</title>
    <link rel="stylesheet" href="style.css?v={{ version }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script src="js.js?v={{ version }}" ws-address="{{ websocket_address }}" black-color="{{ black_color }}"
            white-color="{{ white_color }}" mode="{{ mode }}" store-minimum="{{ store_minimum }}"></script>
</head>
<body>
    <div class="arena">
        <div class="board-container">
            <div class="over-board">
                <div>
                    <input type="button" class="button" value="undo" onclick="sendUndo()">
                </div>
                <div>
                    <input id="swap" type="button" class="button" value="swap" onclick="sendSwap()">
                </div>
            </div>
            <svg id="board" {% if size == 13 %}viewBox="0 0 660 397" {% elif size == 11 %}viewBox="0 0 575 360"{% else %}viewBox="0 0 990 599"{% endif %}>
                <defs>
                    <linearGradient id="Black" x1="1" x2="0" y1="0" y2="1">
                        <stop offset="25%" stop-color="#FFCF79" />
                        <stop offset="100%" stop-color="black" />
                    </linearGradient>
                    <linearGradient id="White" x1="1" x2="0" y1="0" y2="1">
                        <stop offset="25%" stop-color="#FFCF79" />
                        <stop offset="100%" stop-color="white" />
                    </linearGradient>
                    <linearGradient id="Mixed" x1="1" x2="0" y1="0" y2="1">
                        <stop offset="25%" stop-color="white" />
                        <stop offset="90%" stop-color="black" />
                    </linearGradient>
                </defs>
                {% if size == 13 %}
                    <polygon points="15.00,4.02 225.00,367.75 435.00,4.02 645.00,367.75" style="fill:#FFFFFF;stroke:black;stroke-width:1"></polygon>
                    <polygon points="15.00,4.02 435.00,4.02 225.00,367.75 645.00,367.75" style="fill:#303030;stroke:black;stroke-width:1"></polygon>
                {% elif size == 11 %}
                    <polygon points="15.00,4.02 194,316 375.00,4.02 556.00,316" style="fill:#FFFFFF;stroke:black;stroke-width:1"></polygon>
                    <polygon points="15.00,4.02 375.00,4.02 194,316 556.00,316" style="fill:#303030;stroke:black;stroke-width:1"></polygon>
                {% else %}
                    <polygon points="15.00,4.02 315,524 615,4.02 915,524" style="fill:#FFFFFF;stroke:black;stroke-width:1"></polygon>
                    <polygon points="15.00,4.02 615,4.02 315,524 915,524" style="fill:#303030;stroke:black;stroke-width:1"></polygon>
                {% endif %}
                {% for row in rows %}
                    {% set outer_loop = loop %}
                    {% for cell in row %}
                        <polygon id="{{ cell.id }}" points="{{ cell.points }}" class="cell" onclick="boardClick({{ outer_loop.index0 }}, {{ loop.index0 }})"></polygon>
                    {% endfor %}
                {% endfor %}
            </svg>
        </div>
        <div class="menu-container">
            <div class="menu-paragraph">
                <label for="nickname"></label><input id="nickname" type="text" class="input" placeholder="your name"><input type="button" class="button" value="set" onclick="changeName()">
            </div>
            <div class="menu-paragraph">
                <input type="button" class="button" value="clear board" onclick="sendClearBoard()">
            </div>
            <div class="menu-paragraph">
                <input type="button" class="button" value="save game" onclick="saveGame()" {% if mode == 'analysis' %} disabled="disabled" {% endif %}>
                <input type="button" class="button" value="load game" onclick="loadGame()">
            </div>
            <div class="menu-paragraph">
                <input type="button" class="button" value="import from LG" onclick="lgImport()">
                <input id="game_id" type="text" class="input" placeholder="game id">
            </div>
            <div class="menu-paragraph" style="display: none;">
                <label for="opening-decoded">opening:&nbsp;</label><input id="opening-decoded" type="text" class="input" disabled="disabled">
            </div>
            {% if mode == 'analysis' %}
            <div class="menu-paragraph">
                <span id="color_title" style="margin-right: 20px;">stone color:</span>
                    <input id="color_alternate" type="checkbox" onclick="toggleColor(0)" checked="checked"><label for="color_alternate" style="margin-right: 20px;">natural game order</label>
                    <input id="color_black" type="checkbox" onclick="toggleColor(1)"><label for="color_black" style="margin-right: 20px;">black</label>
                    <input id="color_white" type="checkbox" onclick="toggleColor(2)"><label for="color_white" style="margin-right: 20px;">white</label>
            </div>
            {% endif %}
            {% if mode == 'analysis' %}
            <div class="menu-paragraph">
                <input id="storeWhite" type="button" class="button" value="store as white win" onclick="sendStore(2)" disabled="disabled">
                <input id="storeBlack" type="button" class="button" value="store as black win" onclick="sendStore(1)" disabled="disabled">
            </div>
            <div class="menu-paragraph">
                <label for="hints">show hints</label><input id="hints" type="checkbox" {% if mode != 'analysis' %} checked="checked" {% endif %} onchange="toggleResult()">
                <div id="position-result" style="margin-left: 30px;" {% if mode != 'analysis' %} style="display: none;" {% endif %}>
                    winner:&nbsp;<span id="winner">not solved</span>
                </div>
            </div>
            {% endif %}
            <div class="menu-paragraph">
                <div id="player_1_box" class="player_box message_1">
                    <img id="player_1_active" src="favicon.ico" alt="" style="width: 20px; float: left; padding-right: 10px;" {% if mode == 'p' %} onclick="kickPlayer(1)" {% endif %}>
                    <div id="player_1_box_text" class="player_text" onclick="joinBoard(1)">
                        click to play
                    </div>
                </div>
                <div id="player_2_box" class="player_box message_2">
                    <img id="player_2_active" src="favicon.ico" alt="" style="width: 20px; float: left; padding-right: 10px;" {% if mode == 'p' %} onclick="kickPlayer(2)" {% endif %}>
                    <div id="player_2_box_text" class="player_text" onclick="joinBoard(2)">
                        click to play
                    </div>
                </div>
            </div>
            <div id="chat" class="chat">
            </div>
            <div>
                <div>
                    <textarea id="message" rows="3" onkeypress="trySendMessage()"></textarea>
                </div>
                <div>
                    <input type="button" class="button" value="send" onclick="sendMessage()" {% if mode == 'analysis' %} disabled="disabled" {% endif %}>
                </div>
            </div>
            <div class="menu-paragraph-big">
                spectators:
                <div class="spectators">
                </div>
            </div>
            <div class="menu-paragraph-big">
                recently saved games:
                <div class="games">
                    {% for game in games %}
                        <div id="game-{{ game.game_id }}" class="saved-game"><input type="button" onclick="loadGame('{{ game.game_id }}')" value="load game" style="margin-right: 10px;" />{{ game.player_1_name }} : {{ game.player_2_name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <input id="xmlns" type="hidden" value="http://www.w3.org/2000/svg">
</body>
</html>
