<html lang="en-us">
<head title="LiveHex">
    <title>LiveHex</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css?v={{ version }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.9.1/dist/cookieconsent.css" media="print" onload="this.media='all'">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" async></script>
    <script src="/static/js/bundle.js?v={{ version }}"></script>
    <script src="/static/js/js.js?v={{ version }}" ws-host="{{ ws_host }}" ws-port="{{ ws_port }}" black-color="{{ black_color }}"
            white-color="{{ white_color }}" mode="{{ mode }}" store-minimum="{{ store_minimum }}"></script>
</head>

<body class="body" {% if warning %}onload="showWarning();"{% endif %}>
<div class="lobby-nav">
    <div class="logo"><img src="/static/hex.png">livehex</div>
    <div class="logged-as"><div class="logged-as-text-rel"><div id="logged" class="logged-as-text player_name">{{ player_name }}</div></div></div>
</div>
<div class="lobby">
    <div class="lobby-column lobby-actions">
        <form action="/new-game?" method="get" name="new-game" style="display: contents;">
    {#        <a href="/new-game"><button class="button">new game</button></a>#}
            <input type="submit" class="button" value="new game">
            <div>
                <input type="radio" id="variant-normal" name="variant" value="normal" checked><label for="variant-normal">classic</label>
                <input type="radio" id="variant-blind" name="variant" value="blind"><label for="variant-blind">blind</label>
                <input type="radio" id="variant-ai" name="variant" value="ai"><label for="variant-ai">ai</label>
            </div>
        </form>
        <div class="new-game-settings"></div>
{#        <a href="/ai"><button class="button">new game vs AI</button></a>#}
        <a href="/analysis"><button class="button">analysis board</button></a>
        <a href="" onclick="alert('sorry, not implemented yet :(')"><button class="button">settings</button></a>
        {% if not is_logged %}
        <div class="lobby-setting">
            <input id="name-input" class="lobby-setting-input" type="text" placeholder="your name">
            <a href="javascript:window.location=getNameUrl();"><button class="button">set my name</button></a>
        </div>
        {% endif %}
        {% if is_admin %}
        <div class="lobby-setting">
            <input id="import-input" class="lobby-setting-input" type="text" placeholder="lg game id">
            <a href="javascript:window.location=getImportUrl();"><button class="button">import lg game</button></a>
        </div>
        {% endif %}
    </div>
    <div class="lobby-column lobby-games">
        <h1 class="heading">your active games</h1>
        <ul role="list" class="lobby-list">
            {% for game in your_games %}
                <li class="lobby-item">black: <b>{{ game.black.name or "---" }}</b>,&nbsp; white: <b>{{ game.white.name or "---" }}</b> <a class="game_join" href="/game/{{ game.id }}">join</a></li>
            {% endfor %}
        </ul>

        <h1 class="heading">other active games</h1>
        <ul role="list" class="lobby-list">
            {% for game in other_games %}
            <li class="lobby-item">black: <b>{{ game.black.name or "---" }}</b>,&nbsp; white: <b>{{ game.white.name or "---" }}</b> <a class="game_join" href="/game/{{ game.id }}">join</a></li>
            {% endfor %}
        </ul>

        <h1 class="heading">finished games</h1>
        <ul role="list" class="lobby-list">
            {% for game in finished_games %}
            <li class="lobby-item">black: {% if game.status == 3 %}<b>{% endif %}{{ game.black.name or "---" }}{% if game.status == 3 %}</b>{% endif %},&nbsp; white: {% if game.status == 2 %}<b>{% endif %}{{ game.white.name or "---" }}{% if game.status == 2 %}</b>{% endif %} <a class="game_join" href="/analysis/game/{{ game.id }}">view</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="lobby-column lobby-players">
        <h1 class="heading">players online</h1>
        <ul id="players-online" role="list" class="lobby-list">
            {% for player in players_online %}
            <li class="lobby-item player_name">{{ player.name }}</li>
            {% endfor %}
        </ul>

        <h1 class="heading">players offline</h1>
        <ul id="players-offline" role="list" class="lobby-list">
            {% for player in players_offline %}
            <li class="lobby-item">{{ player.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if warning %}
<div id="warning" style="visibility: hidden;">{{ warning }}</div>
{% endif %}
<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.9.1/dist/cookieconsent.js"></script>
<script defer src="/static/js/cookieconsent.js"></script>
</body>
</html>
